<div class="container">
  <h1>映画検索</h1>
  <p>インクリメンタルサーチ、非同期でスムーズにAPI結果を表示</p>
  <div class="jumbotron jumbotron-fluid m-0 search d-flex justify-content-center align-items-center">
    <%= form_with model: @movie, url:learner_movies_path do |f| %>
      <%= f.text_field :search_word %>
      <%= f.submit "検索", id: "search_btn", class: "btn btn-success" %>
    <% end %>
  </div>
  <div id="movie_list" class="row"></div>
</div>