<div class="loop_wrap">
  <div class="search-form-bg text-center">
    <h1 class="my-4">映画検索</h1>
    <%= form_with model: @movie, url:learner_movies_path do |f| %>
      <%= f.text_field :search_word, placeholder: "タイトルを入力", id: "movie-search-field", class: "form-control-lg movie-search-field my-3" %>
      <button class="main-btn movie-search-btn">検索</button>
    <% end %>
  </div>
  <table>
    <tr>
    <% @images.each do |image| %>
      <td><%= image_tag image.image_id %></td>
    <% end %>
    </tr>
    <tr>
    <% @images.each do |image| %>
      <td><%= image_tag image.image_id %></td>
    <% end %>
    </tr>
  </table>
</div>
<div id="movie_list" class="container"></div>


