<h1>利用者top</h1>
<p>Find me in app/views/learner/users/top.html.erb</p>

<%# jumbotron %>
<div class="jumbotron jumbotron-fluid first-image">
  <div class="mx-5">
    <h2 class="display-2 text-light">About</h2>
    <p class="lead text-light">This is a modified jumbotron that occupies</p><br>
			<p class="lead text-light">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
    <p class="lead text-light">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
    <p class="lead text-light">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid second-image">
  <div class="mx-5 text-right">
    <h2 class="display-2 text-light">Study</h2>
    <p class="lead text-light">This is a modified jumbotron that occupies <br>
			<p class="lead text-light">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
    <p class="lead text-light">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
    <p class="lead text-light">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid third-image">
  <div class="mx-5">
    <h2 class="display-2 text-light">Fun</h2>
    <p class="lead text-light">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
    <p class="lead text-light">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
    <p class="lead text-light">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid fourth-image">
  <div class="mx-5 text-right">
    <h2 class="display-2 text-light">Joy</h2>
    <p class="lead text-light">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
    <p class="lead text-light">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
    <p class="lead text-light">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid fifth-image">
  <div class="mx-5">
    <h2 class="display-4 text-light">Start</h2>
    <p class="lead text-light">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
    <p class="lead text-light">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
    <p class="lead text-light">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
  </div>
</div>