<h1>利用者top</h1>
<p>Find me in app/views/learner/users/top.html.erb</p>

<%# jumbotron %>
<div class="jumbotron jumbotron-fluid m-0 first">
  <div class="mx-5">
    <h2 class="display-2">About</h2>
			<p class="lead">ながのcakeは全国発送可能なケーキ屋さんです。<br>
			お子様からお年寄りの方までお召し上がりいただけるよう、<br>
			様々なバリエーションを用意しております。<br>
			また、全国へ発送可能ですので、『いつ』でも『どこ』でもご注文頂けます。<br>
			ぜひご注文ください。
	</p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid m-0 second">
  <div class="mx-5 text-right">
    <h2 class="display-2 text-secondary">一流のパティシエ</h2>
    <p class="lead text-secondary">This is a modified jumbotron that occupies <br>
			<p class="lead text-secondary">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
    <p class="lead text-secondary">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
    <p class="lead text-secondary">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
		</p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid m-0 third">
  <div class="mx-5">
    <h2 class="display-2">地産地消で地域貢献</h2>
    <p class="lead">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
    <p class="lead">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
    <p class="lead">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid m-0 fourth">
  <div class="mx-5 text-right">
    <h2 class="display-2">素材へのこだわり</h2>
    <p class="lead">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
    <p class="lead">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
    <p class="lead">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid m-0 fifth">
  <div class="mx-5">
    <h2 class="display-4">ぜひ店頭へもお越しください</h2>
    <p class="lead">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
    <p class="lead">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
    <p class="lead">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
  </div>
</div>