<h1>利用者top</h1>
<p>Find me in app/views/learner/users/top.html.erb</p>

<%# jumbotron %>
<div class="jumbotron jumbotron-fluid m-0 first">
  <div class="mx-5">
    <h2 class="display-2 text-light">About</h2>
    <p class="lead text-light">This is a modified jumbotron that occupies <br>
			<p class="lead text-light">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
    <p class="lead text-light">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
    <p class="lead text-light">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
		</p>
	</p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid m-0 second">
  <div class="mx-5 text-right">
    <h2 class="display-2 text-light">Study</h2>
    <p class="lead text-light">This is a modified jumbotron that occupies <br>
			<p class="lead text-light">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
    <p class="lead text-light">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
    <p class="lead text-light">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
		</p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid m-0 third">
  <div class="mx-5">
    <h2 class="display-2 text-light">Fun</h2>
    <p class="lead text-light">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
    <p class="lead text-light">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
    <p class="lead text-light">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid m-0 fourth">
  <div class="mx-5 text-right">
    <h2 class="display-2 text-light">Joy</h2>
    <p class="lead text-light">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
    <p class="lead text-light">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
    <p class="lead text-light">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid m-0 fifth">
  <div class="mx-5">
    <h2 class="display-4 text-light">Start</h2>
    <p class="lead text-light">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
    <p class="lead text-light">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
    <p class="lead text-light">This is a modified jumbotron that occupies <br>
		the entire horizontal space of its parent.</p>
  </div>
</div>